.row
  %a{:href => '/projects/new', :class => 'btn btn-primary'}
    .glyphicon.glyphicon-plus
    Add Project

  .checkbox{:class => 'pull-right'}
    %label
      %input{:type => 'checkbox'} Show inactive projects

%br
%table{:class => 'table'}
  %thead
    %tr
      %th Title
      %th Number
      %th Location
      %th Position
      %th Approver
      %th Man days
      %th Start date
      %th End date
      %th Actions
  %tbody
    - @projects.each do |project|
      %tr
        %td #{project.title}
        %td #{project.number}
        %td #{project.location}
        %td #{project.position}
        %td #{project.approver}
        %td #{project.mandays}
        %td #{project.startdate}
        %td #{project.enddate}
        %td{:id => 'action-buttons'}
          %a{:href => "/projects/#{project.id}", :class => 'btn btn-primary', :data => {:toggle => 'tooltip'}, :title => "Edit project"}
            .glyphicon.glyphicon-pencil
          %a{:href => "/timereport", :class => 'btn btn-info', :data => {:toggle => 'tooltip'}, :title => "Report project time"}
            .glyphicon.glyphicon-list-alt
          %a{:href => "/projects/#{project.id}", :class => 'btn btn-danger', :data => {:toggle => 'tooltip'}, :title => "Make project inactive"}
            .glyphicon.glyphicon-remove